@import 'variables';

h4 {
  color: $primary;
}

img {
  width: 18px;
  height: 18px;
}

a {
  color: $link;
  //text-decoration: underline;
}

.jumbotron {
  margin-bottom: 0.1rem;
  border-radius: 0;
}
