<section class="jumbotron text-center">
  <h4>Liens utiles d'informations <strong>fiables</strong></h4>
  <div>
    <ul class="list-group">
      <li class="list-group-item">
        <img class="d-inline-block align-top mr-2" src="/assets/img/favicon_gouv_nc.ico" alt=""/>
        <a href="https://gouv.nc/coronavirus">Informations gouvernement - NC</a>
      </li>

      <li class="list-group-item">
        <img class="d-inline-block align-top mr-2" src="/assets/img/favicon_gouv_fr.png" alt=""/>
        <a href="https://www.gouvernement.fr/info-coronavirus" >Informations gouvernement - France</a>
      </li>

      <li class="list-group-item">
        <img class="d-inline-block align-top mr-2" src="/assets/img/favicon_santepublique_fr.ico" alt=""/>
        <a href="https://www.santepubliquefrance.fr/maladies-et-traumatismes/maladies-et-infections-respiratoires/infection-a-coronavirus/articles/infection-au-nouveau-coronavirus-sars-cov-2-covid-19-france-et-monde" >Santé publique - France</a>
      </li>
    </ul>
  </div>
</section>
