<div class="search-bar">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Numéro du diagnostique" aria-label="Rechercher"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">
            <fa-icon [icon]="['fa', 'search']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
