@import 'variables';

.jumbotron {
  background-color: $yellow;
  color: $black;
  margin-bottom: 0.1rem;
  border-radius: 0;
  padding: 2rem 1rem;
}

a {
  color: $link;
  //text-decoration: underline;
}
