<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <a class="navbar-brand" [routerLink]="['/']">
    <img class="d-inline-block align-top mr-2" src="/assets/img/logo.png" width="30" height="30" alt="">
    COVIDiag.nc
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a class="nav-item nav-link" [routerLink]="['/diagnostic']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Nouveau diagnostique</a>
      <a class="nav-item nav-link" [routerLink]="['/usefull-links']" routerLinkActive="active">Liens utiles</a>
      <a class="nav-item nav-link" [routerLink]="['/search-diagnostic']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Récupérer un diagnostique</a>
    </div>
  </div>
</nav>
