@import 'variables';

.nav.navbar-nav {
    font-size: 15px;
}

.navbar-brand {
  color: $primary;
  font-weight: bold;
}

.nav-link {
  font-weight: bold;
}

.nav-link.active {
  color: $grey-700 !important;
}

/*
@media (max-width: 1200px) { #searchForm {display} }
*/
