<header class="navbar navbar-expand navbar-light flex-column flex-md-row bd-navbar">
  <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']">
    <img class="d-inline-block align-top mr-2" src="/assets/img/logo.png" width="30" height="30" alt=""/>
    <strong>COVIDiag.nc</strong>
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/diagnostic']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Diagnostic en ligne</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Liens utiles</a>
      </li>
      <!--TODO Uniquement par lien donné aux professionnels de santé ? li class="nav-item">
        <a class="nav-link" [routerLink]="['/search-diagnostic']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Récupérer un diagnostic</a>
      </li-->
    </ul>
  </div>
</header>
