@import 'variables';

header > h3 {
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 15px;
}

.box {
    padding: 1%;
    text-align: center;
    margin-top: 100px;
}

.box > a {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    line-height: 100px;
    font-size: 250%;
}

.btn-sq-lg {
    width: 120 !important;
    height: 120px !important;
    font-size: 110%;
}

.container {
  max-width: 50rem;
}

.card {
  background-color: $jumbotron-color;
  border: 0;
}

.jumbotron {
  margin-bottom: 0;
}

.survey-position {
  font-weight: bold;
  color: $link;
}
