<div *ngIf="!surveyFinished" class="container px-3 h-100 py-lg-5 my-lg-5">
  <div class="container-fluid">
    <section class="jumbotron text-center">
      <p class="survey-position">Question {{currentQuestionNumber}} sur {{surveyLength}}</p>
      <h4>{{currentQuestion.question}}</h4>

      <!-- Si INPUT il y a -->
      <form *ngIf="!isAnswerOnClick(currentQuestion)">
        <div *ngFor='let answer of currentQuestion.answers'>
          <div class="form-row" *ngIf="isTemperature(currentQuestion)">
            <!-- TEMPERATURE -->
            <div class="form-group mx-3 mb-0">
              <input type="number" class="form-control text-center" step="0.1" [value]="inputTemperature" (input)="inputTemperature = $event.target.value;" />
            </div>
            <div class="form-group mx-3 mb-0">
              <label>°c</label>
            </div>
          </div>

          <!-- AGE -->
          <div class="form-row justify-content-center" *ngIf="isAge(currentQuestion)">
            <div class="form-group mx-3 mb-0">
              <input type="number" class="form-control text-center" step="1" placeholder="ex : 45" (input)="inputAge = $event.target.value;"/>
            </div>
            <div class="form-group mb-0 mt-2">
              <label>ans</label>
            </div>
          </div>

          <!-- POIDS -->
          <div class="form-row justify-content-center" *ngIf="isPoids(currentQuestion)">
            <div class="form-group mx-3 mb-0">
              <input type="number" class="form-control text-center" step="1" placeholder="ex : 70" (input)="inputPoids = $event.target.value;" />
            </div>
            <div class="form-group mb-0 mt-2">
              <label>kg</label>
            </div>
          </div>

          <!-- TAILLE -->
          <div class="form-row justify-content-center" *ngIf="isTaille(currentQuestion)">
            <div class="form-group mx-3 mb-0">
              <input type="number" class="form-control text-center" step="1" placeholder="ex : 175" (input)="inputTaille = $event.target.value;" />
            </div>
            <div class="form-group mb-0 mt-2">
              <label>cm</label>
            </div>
          </div>

          <!-- CODE POSTAL -->
          <div class="form-row justify-content-center" *ngIf="isPostalCode(currentQuestion)">
            <div class="form-group mx-3 mb-0">
              <input class="form-control text-center" pattern="[0-9]{5}" type="text" placeholder="ex : 98800" (input)="inputPostalCode = $event.target.value;"/>
            </div>
          </div>

          <!-- CONTACT -->
          <div *ngIf="isContact(currentQuestion)">
            <div class="form-row justify-content-center">
              <div class="col-12 mb-0 mt-2">
                <input class="form-control text-center" type="text" placeholder="ex : 12.34.56 ou michel.dupond@gmail.com" (input)="inputContact = $event.target.value;"/>
              </div>
            </div>
            <div class="form-row">
                <div class="form-check mb-2 mt-4 text-left">
                    <input type="checkbox" class="form-check-input" id="rgpdConsent" required>
                    <label class="form-check-label" for="rgpdConsent">
                      En soumettant ce formulaire, j'accepte que les informations saisies soient exploitées par les services sanitaires de Nouvelle-Calédonie dans un objectif de prise en charge et de recensement des malades du COVID-19.
                    </label>
                </div>
            </div>
          </div>

          <!-- CONTINUER - TODO Bouton grisé tant que input pas renseigné -->
          <div class="form-row justify-content-center">
            <button class="mb-0 btn btn-info my-2" type="submit" (click)="onClick(answer)">
                {{answer.label}}
            </button>
          </div>
        </div>
      </form>

      <!-- OUI/NON -->
      <div class="row" *ngIf="currentQuestion.answers.length == 2">
        <div class="col-3"></div>
        <div class="col-3" *ngFor='let answer of currentQuestion.answers'>
            <p class="mb-0 btn btn-info my-2" (click)="onClick(answer)">
                {{answer.label}}
            </p>
        </div>
        <div class="col-3"></div>
      </div>

      <!-- MULTIPLE 3 - TODO Restyliser le multiple 3-->
      <div class="row" *ngIf="currentQuestion.answers.length == 3">
        <div class="col-4" *ngFor='let answer of currentQuestion.answers'>
          <p class="mb-0 btn btn-info my-2" (click)="onClick(answer)">
              {{answer.label}}
          </p>
        </div>
      </div>

      <!-- MULTIPLE 4 -->
      <div class="row" *ngIf="currentQuestion.answers.length == 4">
        <div class="col-3" *ngFor='let answer of currentQuestion.answers'>
          <div class="card" (click)="onClick(answer)">
            <div class="card-body">
              <span class="h2 mb-0">
                {{answer.label}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Précédent -->
    <div class="mt-4 mb-1 text-left">
      <p *ngIf="currentQuestionNumber > 1" class="btn btn-dark" (click)="backToPrevious(currentQuestion)">
        <fa-icon [icon]="['fa', 'arrow-left']"></fa-icon>
        Précédent
      </p>
    </div>

  </div>
</div>

<div *ngIf="!surveyFinished && showParacetamolOnly(currentQuestion)" class="container">
  <div class="box-danger">
    <div class="alert alert-danger" role="alert">
      <p class="mt-3 mb-0">
        <fa-icon [icon]="['fa', 'exclamation-triangle']"></fa-icon>
        <strong> Anti-inflammatoires non stéroïdiens</strong>
      </p>
      <p>
        La prise d'anti-inflammatoires (ibuprofène, cortisone ...) pourrait être un facteur d'aggravation de l’infection. En cas de fièvre, prenez du paracétamol. Cette remarque concerte les traitements par gélules ou comprimés et ne concerne pas les formes inhalées. Si vous êtes déjà sous traitement, n'arrêtez pas ce traitement, demandez l'avis de votre médecin ou de votre pharmacien.
      </p>
    </div>
  </div>
</div>

<div *ngIf="surveyFinished">
  <app-recommendation [surveyResults]="surveyResults"
                      [surveyScore]="surveyScore"
                      [nbGravitySigns]="nbGravitySigns"
                      [nbRiskFactors]="nbRiskFactors"
                      [nbClinicSigns]="nbClinicSigns">
  </app-recommendation>
</div>

