<div class="container px-3 h-100">
  <div class="container-fluid">
    <section class="jumbotron text-center">
      <p class="survey-position">Question {{currentQuestionId+1}} sur {{surveyLength}}</p>
      <h4>{{currentQuestion.question}}</h4>

      <!-- Si INPUT il y a -->
      <div class="row" *ngIf="!isAnswerOnClick(currentQuestion)">
        <div class="col-12" *ngFor='let answer of currentQuestion.answers'>
          <div class="card">
            <div class="card-body form-inline" *ngIf="isTemperature(currentQuestion)">
              <div class="form-group mx-3 mb-0">
                <input type="number" class="form-control text-center" step="0.1" [value]="inputTemperature" (input)="inputTemperature = $event.target.value;" />
              </div>
              <div class="form-group mx-3 mb-0">
                <label>°c</label>
              </div>
            </div>

            <div class="card-body form-inline" *ngIf="isAge(currentQuestion)">
              <div class="form-group mx-3 mb-0">
                <input type="number" class="form-control text-center" step="1" placeholder="ex : 45" (input)="inputAge = $event.target.value;"/>
              </div>
              <div class="form-group mx-3 mb-0">
                <label>ans</label>
              </div>
            </div>

            <div class="card-body form-inline" *ngIf="isPoids(currentQuestion)">
              <div class="form-group mx-3 mb-0">
                <input type="number" class="form-control text-center" step="1" placeholder="ex : 70" (input)="inputPoids = $event.target.value;" />
              </div>
              <div class="form-group mx-3 mb-0">
                <label>kg</label>
              </div>
            </div>

            <div class="card-body form-inline" *ngIf="isTaille(currentQuestion)">
              <div class="form-group mx-3 mb-0">
                <input type="number" class="form-control text-center" step="1" placeholder="ex : 175" (input)="inputTaille = $event.target.value;" />
              </div>
              <div class="form-group mx-3 mb-0">
                <label>cm</label>
              </div>
            </div>

            <div class="card-body" *ngIf="isPostalCode(currentQuestion)">
              <div class="form-group mx-3 mb-0">
                <input class="form-control text-center" pattern="[0-9]{5}" type="text" placeholder="ex : 98800" (input)="inputPostalCode = $event.target.value;" />
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- OUI/NON -->
      <div class="row" *ngIf="currentQuestion.answers.length == 2">
        <div class="col-3"></div>
        <div class="col-3" *ngFor='let answer of currentQuestion.answers'>
            <p class="mb-0 btn btn-info my-2" (click)="onClick(answer)">
                {{answer.label}}
            </p>
        </div>
        <div class="col-3"></div>
      </div>

      <!-- CONTINUER - TODO Bouton grisé tant que input pas renseigné -->
      <div class="row" *ngIf="currentQuestion.answers.length == 1">
        <div class="col-12" *ngFor='let answer of currentQuestion.answers'>
          <p class="mb-0 btn btn-info my-2" (click)="onClick(answer)">
              {{answer.label}}
          </p>
        </div>
      </div>

      <!-- MULTIPLE 3 - TODO Restyliser le multiple 3-->
      <div class="row" *ngIf="currentQuestion.answers.length == 3">
        <div class="col-4" *ngFor='let answer of currentQuestion.answers'>
          <p class="mb-0 btn btn-info my-2" (click)="onClick(answer)">
              {{answer.label}}
          </p>
        </div>
      </div>

      <!-- MULTIPLE 4 -->
      <div class="row" *ngIf="currentQuestion.answers.length == 4">
        <div class="col-3" *ngFor='let answer of currentQuestion.answers'>
          <div class="card" (click)="onClick(answer)">
            <div class="card-body">
              <span class="h2 mb-0">
                {{answer.label}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Précédent -->
    <div class="my-4 text-left">
      <p *ngIf="currentQuestionId > 0" class="btn btn-dark" (click)="backToPrevious(currentQuestionId)">
        &#60; Précédent
      </p>
    </div>

  </div>
</div>

<!--section class="jumbotron text-center">
  <h5>Question 1 sur 23</h5>
  <h4>Age, poids et taille</h4>
  <div>
    <form #adForm="ngForm" (ngSubmit)="createAd(adForm)" autocomplete="off">
        <div class="form-group row">
          <label class="col-xs-4 col-form-label" for="age">Age</label>
          <div class="col-xs-6">
            <input class="form-control" (ngModel)="(age)" name="age" id="age" type="text" required/>
          </div>
          <label class="col-xs-2 col-form-label" for="age">ans</label>
        </div>

        <div class="form-group">
          <label for="poids">Poids</label>
          <input class="form-control" (ngModel)="(poids)" name="poids" id="poids" type="text" required/>
        </div>

        <div class="form-group">
          <label for="taille">Taille</label>
          <input class="form-control" (ngModel)="(taille)" name="taille" id="taille" type="text" required/>
        </div>
    </form>
  </div>
</section-->
