@import 'variables';

.container {
  max-width: 70rem;
}

.jumbotron-primary {
  background-color: $primary;
  margin-bottom: 0.1rem;
  border-radius: 0;
  padding: 2rem 1rem;
}

.text-muted {
  color: $secondary !important;
}

.btn-start {
  font-weight: 500;
}
