@import 'variables';

.container {
  max-width: 50rem;
}

.jumbotron-primary {
  background-color: $primary;
  margin-bottom: 0.1rem;
  border-radius: 0;
}

.text-muted {
  color: $secondary !important;
}
